
<div class="container mt-4">
    <h2>Customer Management System</h2>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#customerModal">
        Create New Customer
    </button>

    <div class="modal fade" id="customerModal" tabindex="-1" aria-labelledby="customerModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="customerModalLabel">
                        <span data-bind="ifnot: IsUpdated">Create New Customer</span>
                        <span data-bind="if: IsUpdated">Update Customer</span>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bind="click: CloseModel"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row" data-bind="with: IsUpdated() ? SelectedCustomer : NewCustomer">
                            <div class="col-md-4 form-group">
                                <label>Full Name:</label>
                                <input type="text" class="form-control" data-bind="value: FullName"/>
                            </div>
                            <div class="col-md-4 form-group">
                                <label>Contact Number:</label>
                                <input type="text" class="form-control" data-bind="value: ContactNo">
                            </div>
                            <div class="col-md-4 form-group">
                                <label>Address:</label>
                                <input type="text" class="form-control" data-bind="value: Address">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary" data-bind="click: AddCustomer">
                        <span data-bind="ifnot: IsUpdated">Create</span>
                        <span data-bind="if: IsUpdated">Update</span>
                    </button>
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div> 
            </div>
        </div>
    </div>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>S.N</th>
                <th>Full Name</th>
                <th>Contact Number</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody data-bind="foreach:CurrentCustomer()">
            <tr>
                <td data-bind="text:$index() +1"></td>
                <td data-bind="text:FullName"></td>
                <td data-bind="text:ContactNo"></td>
                <td data-bind="text:Address"></td>
                <td>
                    <button class="btn btn-sm btn-dark" data-bind="click: $root.SelectCustomer" data-bs-toggle="modal" data-bs-target="#customerModal">Edit</button>
                    <button data-bind="click: $root.DeleteCustomer" class="btn btn-sm btn-danger">Delete</button> 
                </td>
            </tr>
        </tbody>
    </table>
</div>
@section Scripts {
    <script src="~/js/knockout.js"></script>
    <script src="~/js/customers/customer.model.js"></script>
    <script src="~/js/customers/customer.controller.js"></script>
<script>
    {
            var obj = new CustomerController();
        ko.applyBindings(obj);
    }
</script>
}